body{
    margin: 0;
    padding: 0;
}
.border-1px{
    border-bottom: 1px solid rgba(7,17,27,.1)
}
.clearfix{
    display: inline-block;
}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}